<div id="<?= $widget_id ?>" class="report-widget">
    <h3><?= e(trans($this->property('title'))) ?></h3>

    <?php if ($scanning): ?>
        <div class="loading-indicator-container">
            <div class="loading-indicator">
                <span></span>
                <div><?= e(trans('chocolata.chococlear::lang.plugin.scanning')) ?></div>
            </div>
        </div>

        <button id="<?= $widget_id ?>-check-status"
                data-request="<?= $this->getEventHandler('onCheckStatus') ?>"
                data-request-success="if (!data.scanning) { clearInterval(window['<?= $widget_id ?>_interval']); }"
                style="display: none;"></button>

        <script>
            (function() {
                var checkBtn = document.getElementById('<?= $widget_id ?>-check-status');
                window['<?= $widget_id ?>_interval'] = setInterval(function() {
                    if (checkBtn) {
                        $(checkBtn).trigger('click');
                    }
                }, 3000);

                // Clear interval when navigating away
                $(document).one('pjax:start', function() {
                    clearInterval(window['<?= $widget_id ?>_interval']);
                });
            })();
        </script>

    <?php elseif ($scan_failed): ?>
        <div class="callout callout-danger">
            <p><?= e(trans('chocolata.chococlear::lang.plugin.scan_failed')) ?></p>
            <?php if ($scan_error): ?>
                <p class="text-muted"><small><?= e($scan_error) ?></small></p>
            <?php endif ?>
        </div>

        <button type="button" class="btn btn-primary"
                data-request="<?= $this->getEventHandler('onScan') ?>"
                data-stripe-load-indicator>
            <span class="oc-icon-refresh"></span> <?= e(trans('chocolata.chococlear::lang.plugin.retry_scan')) ?>
        </button>

    <?php elseif ($size): ?>
        <div class="control-chart" data-control="chart-pie" data-size="<?= $radius ?>" data-center-text="<?= $size['all'] ?>">
            <ul>
                <li>Thumbnails<span><hide class="hidden"><?= $size['thumbs_b'] ?></hide>&nbsp;<?= $size['thumbs'] ?></span></li>
                <li>Resizer cache<span><hide class="hidden"><?= $size['resizer_b'] ?></hide>&nbsp;<?= $size['resizer'] ?></span></li>
                <li>Temp folder<span><hide class="hidden"><?= $size['temp_folder_b'] ?></hide>&nbsp;<?= $size['temp_folder'] ?></span></li>
                <li>Purgeable uploaded files<span><hide class="hidden"><?= $size['uploads_b'] ?></hide>&nbsp;<?= $size['uploads'] ?></span></li>
                <li>Orphaned files<span><hide class="hidden"><?= $size['orphans_b'] ?></hide>&nbsp;<?= $size['orphans'] ?></span></li>
            </ul>
        </div>

        <?php if ($last_scan): ?>
            <p class="text-muted" style="margin-left: 50px; margin-top: 10px;">
                <?= e(trans('chocolata.chococlear::lang.plugin.last_scan')) ?>: <?= $last_scan->diffForHumans() ?>
            </p>
        <?php endif ?>

        <div style="margin-left: 50px; margin-top: 10px;">
            <button type="button" class="btn btn-success"
                    data-request="<?= $this->getEventHandler('onClear') ?>"
                    data-request-confirm="<?= e(trans('chocolata.chococlear::lang.plugin.confirm_purge')) ?>"
                    data-stripe-load-indicator>
                <?= e(trans('chocolata.chococlear::lang.plugin.clear')) ?> <span class="oc-icon-trash"></span>
            </button>

            <button type="button" class="btn btn-default"
                    data-request="<?= $this->getEventHandler('onScan') ?>"
                    data-stripe-load-indicator
                    title="<?= e(trans('chocolata.chococlear::lang.plugin.rescan')) ?>">
                <span class="oc-icon-refresh"></span>
            </button>
        </div>

    <?php else: ?>
        <div class="callout callout-info">
            <p><?= e(trans('chocolata.chococlear::lang.plugin.no_scan_yet')) ?></p>
        </div>

        <button type="button" class="btn btn-primary"
                data-request="<?= $this->getEventHandler('onScan') ?>"
                data-stripe-load-indicator>
            <span class="oc-icon-search"></span> <?= e(trans('chocolata.chococlear::lang.plugin.scan')) ?>
        </button>
    <?php endif ?>
</div>
